Commander et configurer un serveur afin de pouvoir accueillir une API ainsi qu’une base de données MySQL.
Créer et configurer une base de données MySQL contenant deux tables distinctes
Développer une API PHP qui aura deux rôles principaux.
Développer une interface front web qui donnera les horaires et le lieu de chaque assemblée générale. Cette interface front sera disponible sur notre site et sera publique.
Intégrer les mails afin de communiquer aux clients la date et le lieu de leurs assemblées générales ainsi qu’un bouton « click to action » pour confirmer leurs présences.
Développer un formulaire d’atterrissage aux mails qui permettra aux sociétaires d’enregistrer leurs participations. Le formulaire recevra des paramètres à partir du bouton du mail.
Tout comme les années précédentes, concevoir une communication mail
