Commander et configurer un serveur afin de pouvoir accueillir une API ainsi qu’une base de données MySQL.
Créer et configurer une base de données MySQL contenant deux tables distinctes. La première table permettra d’accueillir une liste des différentes assemblées générales de la caisse régionale. La deuxième table permettra d’enregistrer l’inscription des différents sociétaires afin de la rendre automatique.
Développer une API PHP qui aura trois rôles principaux. Le premier sera de transmettre à une interface les horaires des différentes assemblées générales. Le deuxième sera de transmettre, aux différentes caisses locales, les noms de sociétaires inscrit aux assemblées générales. Pour finir, son troisième rôle sera d’enregistrer dans la table correspondante, l’inscription sociétaire lorsque celui-ci confirmera sa présence depuis une interface.
Développer une interface front web qui donnera les horaires et le lieu de chaque assemblée générale. Cette interface front sera disponible sur notre site et sera à destination des sociétaires voulant connaitre le lieu exact et la date exacte de leurs assemblées générales.
Développer une interface front web qui fournira, aux caisses locales, la liste des participants à leur assemblée générale. Cette interface ne sera pas publique et ne sera communiquée qu’aux caisses locales.
Intégrer les mails afin de communiquer aux clients la date et le lieu de leur assemblée générale ainsi qu’un bouton « click to action » pour confirmer leur présence.
Développer un formulaire d’atterrissage aux mails qui permettra aux sociétaires d’enregistrer leurs participations. Le formulaire recevra des paramètres à partir du bouton du mail afin d’identifier chaque client et de permettre à l’API d’enregistrer convenablement chaque participation à l’assemblée générale dont elle est reliée.
Tout comme les années précédentes, concevoir une communication
